CREATE TABLE IF NOT EXISTS public.payment_requests (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id uuid REFERENCES auth.users NOT NULL,
  plan_id text NOT NULL,
  amount integer NOT NULL,
  transfer_memo text NOT NULL,
  status text DEFAULT 'PENDING' NOT NULL,
  created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL
);
